<div class="modal">
    <div class="modal-content">
      <h2>Crear Usuario</h2>
      <form (ngSubmit)="enviarData()">
        <div class="form-group">
          <label >Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña:</label>
          <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" required />
        </div>
        <button type="submit" class="btn">Enviar Datos</button>
      </form>
      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
  </div>