<div class="login-container">
    <h1>Login</h1>



    <mat-form-field appearance="fill">
      <label>Usuario</label>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input  placeholder="Usuario">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <label>Contraseña</label>
    
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input  placeholder="Contraseña">
    </mat-form-field>

    
    
    <mat-form-field appearance="fill">
      <!-- <button (click)="login()">Login</button> -->
      <button (click)="abrirModal()">Crear Usuario</button>
    <app-crear *ngIf="mostrarModal" modulo="Usuario"  valor1="email"   valor2="contrasena"></app-crear>
    </mat-form-field>





  </div>